.sense-card {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    max-width: 20em;
}

.sense-card.highlight {
    background: lightgoldenrodyellow;
}

.closeness, .sense-prob {
    margin-left: 1em;
    float: right;
}

#about {
    position: absolute;
    right: 10px;
    top: 10px;
}