<!DOCTYPE html>
<html>
<head>
    <link href="{{ static_url('css/materialicons.css') }}" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/materialize.min.css') }}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/style.css') }}" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}WSI{% end %}</title>
</head>

<body>

<div class="container">
    {% block content %}{% end %}
</div>

<script type="text/javascript" src="{{ static_url('js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/materialize.min.js') }}"></script>

</body>
</html>
