{% extends "base.html" %}

{% block title %}WSI{% if word %}: {{ word }}{% end %}{% end %}

{% block content %}
    <h3>AdaGram</h3>
    <form action="{{ reverse_url('main') }}" method="get">
        <input title="word" placeholder="Type a word and press Enter"
               type="text" autofocus="autofocus"
               name="word" value="{{ word or ''}}"/>
    </form>

    {% if word %}
        {% if not senses %}
            Word "{{ word }}" not found.
        {% else %}
            <div class="word-info">
                Word ipm: {{ "{:.2f}".format(ipm) }}, occurrences: {{ freq }}.
            </div>
            {% for sense in senses %}
                <div class="card sense-card {% if sense['highlight'] %}highlight{% end %}">
                    <h5>#{{ sense['idx'] }}
                        <span class="sense-prob">
                             {{ '{:.2f}'.format(sense['prob']) }}
                        </span>
                    </h5>
                    {{ ', '.join(sense['collocates']) }}
                    <ul class="collection">
                        {% for n in sense['neighbors'] %}
                            <li class="collection-item">
                                <a href="{{ n['link'] }}">{{ n['word'] }}</a>
                                <span class="closeness">
                                    {{ '{:.2f}'.format(n['closeness']) }}
                                </span>
                            </li>
                        {% end %}
                    </ul>
                </div>
            {% end %}
        {% end %}
    {% end %}
{% end %}
